* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* PODE MEXER NAS COISAS */
}